body {
   background-color: rgb(46, 46, 46); 
}

.centerText {
    text-align: center;
}

.white {
    color: white;
}

.textSize75 {
    font-size: 75px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(65, 65, 65)
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(65, 65, 65);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgb(166, 0, 0);}

.dropdown:hover .dropdown-content {
    display: block;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }